<h1>Home Page</h1>

<h2><%= @user.username %></h2>

<form action="/devices/new" method="GET">
    <input type="submit" value="Add Device">
</form>
<br>
<form action="/logout" method="GET">
    <input type="submit" value="Log Out">
</form>
