<h1><%= @user.username %>'s Home Page</h1>

<h2>Devices</h2>

<form action="/devices/new" method="GET">
    <input type="submit" value="Add Device">
</form>
<br>
<form action="/logout" method="GET">
    <input type="submit" value="Log Out">
</form>
