<h1>Add a device</h1>

<h3>You can choose a device from the drop down menu or create a custom device</h3>
<form method="POST" action="/devices/new">


    <label>Create a device: <br>
        <label>Device name: <input type="text" name="custom_name"></label>
        <label>Device power usage (watts): <input type="text" name="custom_power"></label>
    </label>
    <br><br>
    <label>Choose a device:
        <select name="name">
            <option value="" selected disabled hidden>Add your own device</option>
            <% @options.each do |opt| %>
                <option value="<%= opt.name %>"><%= opt.name %></option>
            <% end %>
        </select>
    </label>
    <br><br>
    <label>Hours used per day: 
        <input type="text" name="usage">
    </label>

    <br><br>
    <input type="submit" value="Add Device">
</form>