<h1>Create a new group</h1>
<br>
<form method="POST" action="/groups">
    <label>Group name: <input type="text" name="name"></label>
    <br><br>
    
    <% if current_user.devices.length > 0 %>
        <label>Add devices to this group
        <br>
        <% current_user.devices.each do |device| %>
            <label><input type="checkbox" name="device_ids[]" value="<%= device.id %>"> <%= device.name %>
            </label>
            <br>
        <% end %>
    <% end %>
    <br>
    <input type="submit" value="Create Group">
</form>