<h1>Log In</h1>
<br>

<% if flash[:error] %>
    <p><%= flash[:error] %></p>
<% end %>

<form method="POST" action="/login">

    <label>Username: <input type="text" name="username"></label>
    <br><br>

    <label>Password: <input type="password" name="password"></label>
    <br><br>

    <input type="submit" value="Log In">

</form>