<h1> Create a new account</h1>
<br>

<form method="POST" action="/signup">

    <label>Enter a username: <input type="text" name="username"></label>
    <br><br>

    <label>Enter your email: <input type="text" name="email"></label>
    <br><br>

    <label>Enter a password: <input type="password" name="password"></label>
    <br><br>



    <input type="submit" value="Sign Up">
</form>