<h1> Create a new account</h1>

<form method="POST" action="/signup">

    <input type="text" name="username">
    <input type="text" name="email">
    <input type="password" name="password">



    <input type="submit" value="Sign Up">
</form>