<h1>About</h1>
<p>There is a phenomenon known to some as "(Karl) Pearson's Law" (also sometimes attributed to W. Edwards Deming or Thomas S. Monson) that describes the relationships between performance, and the act of monitoring and reporting performance. Here is a loose description of Pearson's Law: "When performance is measured, performance improves. When performance is measured and reported back, the rate of improvement accelerates."</p>

<p>Your energy bill can be very informative, but there is a lot that it can't tell you.</p>

<p>Kilowatt is designed to help people measure their energy use, with the desired effect of making users more careful and intentional about their energy use.</p>

<ul><strong>Additional reading and resources</strong></ul>
<li>US Energy Information Administration - <a href="https://www.eia.gov/energyexplained/use-of-energy/electricity-use-in-homes.php#:~:text=Electricity%20consumption%20in%20U.S.%20homes,kilowatthours%20(kWh)%20per%20year.">Use of energy in homes explained</a></li>
<li><a href="https://www.energystar.gov/products?s=footer">Energy Star Home Appliance Power Consumption</a></li>